@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <span style='font-size:100px;'>&#127813;</span>
 To-Do App</h1>
    <p>This Web app is made with ASP.NET Core, SqlServel and Bootstrap</p>
    <p>Give it a try by clicking To-Do's in the Navigation Bar</p>

</div>
